:root{
    --primary_heading_color:rgb(11,28,57);
    --secondary_heading_color:rgb(68,68,68);
    --primary_btn_color:rgb(255,0,60);
    --primary_txt_color:rgb(140,125,139);
    --card_bg:snow;



}
code{
    font-size: 50px;
    color: var(--secondary_heading_color);
}