.cart-items-wraper{
    background-color: aliceblue;
    height: 700px;
    width: 100%;
    margin: 10rem auto;
   
    overflow-y: scroll;
}


@media screen and (max-width:768px) {
    .cart-header{
       
        font-size: 10px;
    }
    
}